@import 'normalize.scss';

// === Mixins ===
@mixin font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
// === / Mixins ===

// === Variables ===
$color-white: #ffffff;
$color-blue: #4985ff;
$color-black: #000000;
$color-border: #E0E0E0;
$color-grey: #999999;
$color-dark: #323232;
$color-background: #F6F6F8;
$color-subscribe-form: #F2F2F2;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
// === Variables ===

// === Common ===
* {
  box-sizing: border-box;
}

.section-outer {
  padding-right: 15px;
  padding-left: 15px;
}

.section-inner {
  max-width: 1110px;
  margin: 0 auto;
}

.link {
  // font-size: 16px;
  // font-weight: 500;
  // line-height: 20px;
  text-align: center;
  border-radius: 30px;
  border: none;
  background-color: $color-blue;
  color: $color-white;
  // width: 200px;
  // height: 45px;
  padding: 14px 36px;
  cursor: pointer;
}

body {
  @include font-montserrat();
}

.circle-inner {
  border: 1px solid $color-blue;
  border-radius: 50%;
  padding: 24px;
  margin: 10px;
  width: 90px;
  height: 90px;
}

.circle-outer {
  border: 1px solid $color-border;
  border-radius: 50%;
  width: 112px;
  height: 112px;
}

.display-flex {
  display: flex;
}
// === / Common ===

// === first-screen ===
.section-first-screen {
  padding-right: 0;
  padding-left: 0;
  background: url('../images/header_back.jpg') no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  color: $color-white;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  // text-align: center;
  a {
    color: $color-white;
    text-decoration: none;
  }

  .header {
    // opacity: .5;
    // border-bottom: 1px solid #A1A1A1;

    // ul {
    //   list-style-type: none;
    //   margin: 0;
    //   padding: 0;
    // }

    li {
      // display: inline;
      // padding-right: 20px;
      // padding-left: 20px;
      // padding-bottom: 40px;

      // &:hover {
      //   border-bottom: 2px solid $color-white;
      // }
    }

    // a {
    //   color: $color-white;
    //   text-decoration: none;
    // }
  }

  &-menu {
    // text-align: right;
    // padding-top: 40px;
    // padding-bottom: 40px;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 170px auto 0;
    max-width: 825px;

    &__title {
      // text-align: center;
      margin-bottom: 20px;
    }

    &__subtitle {
      font-weight: 800;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      margin-bottom: 45px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  /* скрываем чекбокс */
  #section-first-screen-menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  &-menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 101;
  }
  /* добавляем "гамбургер" */
  &-menu__btn > span,
  &-menu__btn > span::before,
  &-menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $color-white;
  }
  &-menu__btn > span::before {
    content: '';
    top: -8px;
  }
  &-menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  // &-menu__box {
  //   // display: block;
  //   position: fixed;
  //   visibility: hidden;
  //   top: 0;
  //   left: -100%;
  //   width: 300px;
  //   height: 100%;
  //   margin: 0;
  //   padding: 80px 0;
  //   list-style: none;
  //   text-align: center;
  //   background-color: #ECEFF1;
  //   box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  // }
  /* элементы меню */
  // &-menu__item {
  //   display: block;
  //   padding: 12px 24px;
  //   color: #333;
  //   font-family: 'Roboto', sans-serif;
  //   font-size: 20px;
  //   font-weight: 600;
  //   text-decoration: none;
  // }
  // &-menu__item:hover {
  //   background-color: #CFD8DC;
  // }

  // #section-first-screen-menu__toggle:checked ~ &-menu__btn > span {
  //   transform: rotate(45deg);
  // }
  // #section-first-screen-menu__toggle:checked ~ &-menu__btn > span::before {
  //   top: 0;
  //   transform: rotate(0);
  // }
  // #section-first-screen-menu__toggle:checked ~ &-menu__btn > span::after {
  //   top: 0;
  //   transform: rotate(90deg);
  // }
  // #section-first-screen-menu__toggle:checked ~ &-menu__box {
  //   visibility: visible;
  //   left: 0;
  // }


  @media (max-width: $screen-sm) {
    &-menu {
      // li:hover {
      //   // padding-right: 15px;
      //   // padding-left: 15px;
      //   background-color: #CFD8DC;
      // }
    }
    &-menu__box {
      // display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      // left: -100%;
      width: 100%;
      height: 100%;
      margin: 0;
      // padding: 80px 0;
      list-style: none;
      text-align: left;
      padding-left: 30px;
      padding-top: 20px;
      // background-color: #ECEFF1;
      background-color: rgba(118, 133, 144, .96%);
      z-index: 100;

      li {
        padding-bottom: 25px;
      }
    }  
    #section-first-screen-menu__toggle:checked ~ &-menu__btn > span {
      transform: rotate(45deg);
    }
    #section-first-screen-menu__toggle:checked ~ &-menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }
    #section-first-screen-menu__toggle:checked ~ &-menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #section-first-screen-menu__toggle:checked ~ &-menu__box {
      visibility: visible;
      left: 0;
    }
  }

  @media (min-width: $screen-sm-max) {
    &-menu {
      // &__btn {
      //   display: none;
      // }

      li {
        // display: inline;
        padding-right: 20px!important;
        padding-left: 20px!important;
      }
    }
  }

  @media (min-width: $screen-sm) {
    .header {
      border-bottom: 1px solid #A1A1A1;
    }

    &-menu {
      text-align: right;
      padding-top: 40px;
      padding-bottom: 40px;

      input {
        display: none;
      }

      &__btn {
        display: none;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline;
        padding-right: 14px;
        padding-left: 14px;
        padding-bottom: 40px;

        &:hover {
          border-bottom: 2px solid $color-white;
        }
      }
    }
  }
}
// === / first-screen ===

// === section-services ===
.section-services {

  .section-inner {
    text-align: center;
  }

  &-title-wrapper {
    max-width: 740px;
    margin: 110px auto 70px;

    &__title {
      font-size: 36px;
      font-weight: bold;
      line-height: 53px;
      text-align: center;
      color: $color-dark;
      margin-top: 0;
      margin-bottom: 50px;
    }

    &__subtitle {
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
      text-align: center;

      /* grey */

      color: $color-grey;
    }
  }

  &-content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;

    &__item {
      display: flex;
      // max-width: 330px;
      // max-width: 31%;
      align-items: baseline;

      &-content {
        text-align: left;
        margin-left: 17px;

        &-title {
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          color: $color-black;
          margin-bottom: 12px;
        }

        &-subtitle {
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: $color-grey;
        }
      }
    }
  }

  .link {
    width: 200px;
  }

  @media (max-width: $screen-sm-max) {
    &-content-wrapper {
      flex-direction: column;
      align-items: center;

      &__item {
        // min-width: 100%;
        align-items: center;
        margin-bottom: 15px;
      }
    }
  }

  @media (min-width: $screen-md) {
    &-content-wrapper {
      &__item {
        flex-basis: 350px;
      }
    }
  }
}
// === / section-services ===

// === section-about-us ===

.section-about-us {
  margin-top: 105px;
  background-color: $color-background;
  padding-bottom: 60px;

  // .section-inner {
  //   // display: flex;
  //   // flex-direction: column;
  //   // border-bottom: 1px solid $color-border;
  // }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 90px;
    border-bottom: 1px solid $color-border;

    &__info, &__img {
      flex-basis: 50%;
    }

    &__info {
      text-align: left;
      margin-right: 60px;
      // max-width: 490px;

      &-title {
        font-weight: bold;
        font-size: 36px;
        line-height: 53px;
        color: $color-dark;
        margin-top: 0;
        margin-bottom: 40px;
      }

      &-text {
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: $color-grey;
        margin-bottom: 30px;
      }

      &-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-decoration-line: underline;
        color: $color-blue;
      }

    }

    &__img {
      // background: url('../images/about_us.jpg'), #C4C4C4 no-repeat 50% 50%;
      // background-size: cover;
      // background-color: #C4C4C4;
      // box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
      border-radius: 30px;
      margin-left: 40px;
      // width: 500px;
      // height: 400px;

      img {
        // width: 500px;
        // height: 400px;
        width: 100%;
        height: auto;
      }
    }
  }

  &-in-numbers-wrapper {
    display: flex;
    margin-top: 70px;
    // justify-content: center;
    justify-content: space-around;

    &__item {
      // flex-basis: 103px;

      &-number {
        font-weight: normal;
        font-size: 35px;
        // line-height: 53px;
        color: $color-black;
        margin-left: 20px;
      }

      &-name {
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: $color-grey;
        margin-top: 17px;
      }
    }
  }

  @media (max-width: 916px) {
    &-wrapper {
      &__info {
        margin-right: 0;
        flex-basis: auto;
        flex-shrink: 2;
      }

      &__img {
        flex-basis: 500px;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    &-wrapper {
      flex-direction: column;

      &__info {
        text-align: center;

        &-title {
          margin-bottom: 15px;
        }

        &-text {
          margin-bottom: 15px;
        }
      }

      &__img {
        flex-basis: auto;
        order: -1;
        margin-left: 0;
        margin-bottom: 20px;
      }
    }

    &-in-numbers-wrapper {
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;

      &__item + &__item {
        margin-left: 30px;
      }

      &__item:last-child {
        margin-top: 25px;
      }
    }
  }
}
// === / section-about-us ===

// === / section-all-services ===
.section-all-services {
  // height: 100vh;
  position: relative;
  // background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60vh;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%);
    z-index: 5;
  }

  .section-inner {
    position: relative;
    z-index: 10;
    margin-bottom: 85px;
  }

  &-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;

    .title {
      color: $color-white;
      font-weight: bold;
      font-size: 36px;
      line-height: 53px;
      margin: 0;
      max-width: 540px;
    }

    .link {
      width: 200px;
    }
  }

  &-content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding-bottom: 80px;
    border-bottom: 1px solid $color-border;

    &__item {
      display: flex;
      flex-direction: column;
      // max-width: 350px;
      flex-basis: 31%;

      &-img {
        // border-radius: 10px;
        // background: url('../images/all_services_item.jpg') no-repeat 50% 50%;
        // background-size: cover;
        // width: 350px;
        // height: 350px;

        img {
          width: 100%;
          height: auto;
          border-radius: 10px;
        }

        // img:hover {
        //   border: 1px solid $color-black;
        //   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // }
      }

      &-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: $color-dark;

        span {
          color: $color-blue;
        }
      }

      &-text {
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: $color-grey;
        margin-bottom: 30px;
        margin-top: 30px;
      }

      &-link {
        color: $color-blue;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-decoration: underline;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    &-title-wrapper {
      flex-direction: column;
      padding-top: 60px;

      .title {
        text-align: center;
        margin-bottom: 15px;
      }
    }
  }

  @media (max-width: 485px) {
    &-content-wrapper {
      flex-direction: column;

      &__item {

        &-title {
          margin-bottom: 5px;
        }
  
        &-text {
          margin-bottom: 10px;
          margin-top: 0;
        }
      }
      &__item +  &__item {
        padding-top: 30px;
      }
    }
  }

}
// === / section-all-services ===

// === / section-all-projects ===
.section-all-projects {
  background-color: $color-background;

  .section-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 130px;
  }

  &-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    // text-align: center;
    color: $color-black;
    margin: 0;
  }

  &-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: $color-grey;
    max-width: 730px;
    margin-top: 50px;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    margin-top: 70px;
    margin-bottom: 50px;

    &__img {
      // background: url('../images/project.jpeg') no-repeat 50% 50%;
      // border-radius: 10px;
      flex-basis: 255px;
      // width: 255px;
      // height: 255px;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }

    &__img + &__img {
      margin-left: 20px;
    }
  }

  @media (max-width: $screen-sm) {
    &-wrapper {
      flex-wrap: wrap;
      align-items: baseline;

      &__img {
        flex-basis: 48%;
      }

      &__img + &__img {
        margin-left: 0;
      }

      &__img:last-child {
        margin-top: 15px;
      }
    }
  }
}
// === / section-all-projects ===

// === section-video ===
.section-video {
  position: relative;
  // height: 100vh;
  color: $color-white;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 65vh;
    // background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%);
    z-index: 5;
    background: url('../images/header_back.jpeg') no-repeat 50% 50%;
    background-size: cover;
  }

  .section-inner {
    position: relative;
    z-index: 10;
    padding-top: 70px;
    padding-bottom: 85px;
    border-bottom: 1px solid $color-border;;
    // margin-bottom: 85px;
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-top: 30px;
  }

  &__video {
    text-align: center;
    margin-top: 70px;
    max-width: 970px;
    margin: 0 auto;

    iframe {
      width: 100%;
      height: 410px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    }
  }
}
// === / section-video ===

// === section-subscribe ===
.section-subscribe {
  text-align: center;

  .section-inner {
    padding-top: 85px;
    padding-bottom: 85px;
    // text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    // text-align: center;
    color: $color-black;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__text, &__info {
    font-weight: normal;
    // font-size: 16px;
    // line-height: 25px;
    // text-align: center;
    color: $color-grey;
  }

  &__text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
    // text-align: center;
  }

  &__info {
    font-size: 13px;
    line-height: 21px;
  }

  &__form {
    margin-bottom: 35px;
    
    input {
      padding-left: 20px;
      // padding-left: 0;
      margin: 0;
      width: 280px;
      border: none;
      outline: none;
      font-weight: normal;
      font-size: 13px;
      line-height: 21px;
      color: $color-grey;
    }

    button {
      // padding: 0;
      margin: 0;
    }

    &-wrapper {
      border: 1px solid $color-subscribe-form;
      box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
      border-radius: 30px;
      padding-left: 20px;
    }

    .subscribe-btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  @media (max-width: $screen-sm) {
    &__form-wrapper {
      display: flex;
      padding-left: 25px;

      input {
        width: auto;
        padding-left: 0;
      }

      .link {
        padding: 14px 15px;
        // height: 45px;
      }
    }
  }
}
// === / section-subscribe ===

// === section-footer ===
.section-footer {
  background: $color-background;

  .section-inner {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-border;
    padding-bottom: 70px;

    &-block {

      &__title {
        margin: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: $color-black;
      }

      &__list {
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: $color-grey;
        margin-top: 35px;
        margin-bottom: 0;
        padding-left: 0;

        li {
          list-style-image: url('../images/right-arrow.svg');
          list-style-position: inside;
          a {
            text-decoration: none;
            color: $color-grey;
          }
        }

        li + li {
          margin-top: 30px;
        }

        .contacts__mail {
          list-style-image: url('../images/mail.svg');
          // padding-left: 30px;
        }
        
        .contacts__phone {
          list-style-image: url('../images/phone.svg');
        }

        .contacts__address {
          list-style-image: url('../images/place.svg');
        }
      }
    }
  }

  &__copyright {
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: $color-grey;
    margin-top: 30px;
  }

  @media (max-width: $screen-sm-max) {
    &-wrapper {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 40px;

      &-block {
        flex-basis: 48%;
        margin-bottom: 30px;
      }
    }
  }
}
// === / section-footer ===